<div class="row">
  <div class="col-auto">
    {{#each blog as |blog|}}
   <h2>{{blog.heading}}</h2>
   <p>{{{blog.description}}}</p>
   <p>{{blog.userId}}</p>
    {{/each}}
  </div>
</div>

<script src="./js/profile.js"></script>
